{% load static %}
{% load i18n %}

<meta name="csrf-token" content="{{ csrf_token }}" />

<nav class="navbar navbar-expand-lg">
  <div class="container">
    <!-- Logo -->
    <div class="logo-wrapper">
      <a
        class="logo"
        href="{% if LANGUAGE_CODE == 'az' %}/az/{% elif LANGUAGE_CODE == 'ru' %}/ru/{% else %}/{% endif %}"
      >
        <img
          loading="lazy"
          src="{% static 'logo.svg' %}"
          class="logo-img"
          alt="{% trans 'Rəssam Əli Şəmsi' %}"
        />
      </a>
      <!-- <a class="logo" href="index.html"> <h2>POZO</h2> </a> -->
    </div>
    <!-- Button -->
    <div class="navbar-right-side">
      <li class="nav-item lang-btn-mobile">
        <div class="language-selector" id="languageSelector">
          <button class="current-lang" id="currentLang">
            <span id="currentLangText">
              {% if LANGUAGE_CODE == 'az' %}AZ{% elif LANGUAGE_CODE == 'ru'
              %}RU{% else %}EN{% endif %}
            </span>
          </button>
          <div class="dropdown" id="dropdown">
            <button
              class="lang-option {% if LANGUAGE_CODE == 'az' %}active{% endif %}"
              data-lang="az"
            >
              AZ
            </button>
            <button
              class="lang-option {% if LANGUAGE_CODE == 'en' %}active{% endif %}"
              data-lang="en"
            >
              EN
            </button>
            <button
              class="lang-option {% if LANGUAGE_CODE == 'ru' %}active{% endif %}"
              data-lang="ru"
            >
              RU
            </button>
          </div>
        </div>
      </li>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbar"
        aria-controls="navbar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
      </button>
    </div>

    <!-- Menu -->
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}"
            href="{% if LANGUAGE_CODE == 'az' %}/az/{% elif LANGUAGE_CODE == 'ru' %}/ru/{% else %}/{% endif %}"
            >{% trans "Ana səhifə" %}</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.resolver_match.url_name == 'about' %}active{% endif %}"
            href="{% if LANGUAGE_CODE == 'az' %}/az/{% elif LANGUAGE_CODE == 'ru' %}/ru/{% else %}/{% endif %}about/"
            >{% trans "Haqqında" %}</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.resolver_match.url_name == 'gallery' %}active{% endif %}"
            href="{% if LANGUAGE_CODE == 'az' %}/az/{% elif LANGUAGE_CODE == 'ru' %}/ru/{% else %}/{% endif %}gallery/"
            >{% trans "Qalereya" %}</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.resolver_match.url_name == 'video-gallery' %}active{% endif %}"
            href="{% if LANGUAGE_CODE == 'az' %}/az/{% elif LANGUAGE_CODE == 'ru' %}/ru/{% else %}/{% endif %}videos/"
            >{% trans "Videolar" %}</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.resolver_match.url_name == 'publication_list' %}active{% endif %}"
            href="{% if LANGUAGE_CODE == 'az' %}/az/{% elif LANGUAGE_CODE == 'ru' %}/ru/{% else %}/{% endif %}publications/"
            >{% trans "Nəşrlər" %}</a
          >
        </li>
        {% comment %} <li class="nav-item">
          <a
            class="nav-link {% if request.resolver_match.url_name == 'exhibition_list' %}active{% endif %}"
            href="{% if LANGUAGE_CODE == 'az' %}/az/{% elif LANGUAGE_CODE == 'ru' %}/ru/{% else %}/{% endif %}exhibitions/"
            >{% trans "Sərgilər" %}</a
          >
        </li>  {% endcomment %}
        <li class="nav-item">
          <a
            class="nav-link {% if request.resolver_match.url_name == 'workshop' %}active{% endif %}"
            href="{% if LANGUAGE_CODE == 'az' %}/az/{% elif LANGUAGE_CODE == 'ru' %}/ru/{% else %}/{% endif %}workshop/"
            >{% trans "Emalatxana" %}</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.resolver_match.url_name == 'contact' %}active{% endif %}"
            href="{% if LANGUAGE_CODE == 'az' %}/az/{% elif LANGUAGE_CODE == 'ru' %}/ru/{% else %}/{% endif %}contact/"
            >{% trans "Əlaqə" %}</a
          >
        </li>
        <li class="nav-item lang-btn">
          <div class="language-selector" id="languageSelector1">
            <button class="current-lang" id="currentLang1">
              <span id="currentLangText1">
                {% if LANGUAGE_CODE == 'az' %}AZ{% elif LANGUAGE_CODE == 'ru'
                %}RU{% else %}EN{% endif %}
              </span>
            </button>
            <div class="dropdown" id="dropdown1">
              <button
                class="lang-option1 {% if LANGUAGE_CODE == 'az' %}active{% endif %}"
                data-lang="az"
              >
                AZ
              </button>
              <button
                class="lang-option1 {% if LANGUAGE_CODE == 'en' %}active{% endif %}"
                data-lang="en"
              >
                EN
              </button>
              <button
                class="lang-option1 {% if LANGUAGE_CODE == 'ru' %}active{% endif %}"
                data-lang="ru"
              >
                RU
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
